.footer-container {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 100px;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.footer-section h1 {
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
}

.footer-container p {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-icon-container {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-left: 10px;
}

.footer-icon img {
  width: 35px;
  height: auto;
  border-radius: 10px;
}

.footer-links {
  margin-left: 200px;
}
.footer-links h3 {
  color: #ffffffaf;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  color: gray;
  font-size: 13px;
  cursor: pointer;
}

/* media for mobile */

@media (max-width: 767px) {
  .footer-container {
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    width: 100%;
    /* order: -1; */
  }

  .link-container,
  .footer-links h3 {
    /* display: inline; */
    gap: 10px;
  }

  .footer-content {
    width: 100%;
    margin-top: 20px;
    align-items: center;
    /* order: 2; */
  }

  .footer-icon-container {
    justify-content: center;
    /* order: -1; */
  }
}

/* media for tablet */

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 50px 80px;
  }

  .footer-content {
    width: 100%;
  }
  .footer-section h1 {
    margin-left: 10px;
  }

  .footer-container p {
    margin-left: 10px;
  }

  .footer-links {
    margin-left: 100px;
    flex-shrink: 0;
    min-width: 90px;
  }
}
