@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");

:root {
  --mustard-yellow: #e6c744;
  --soft-blue-gray: #c2c8da;
  --mint-cream: #f4f6f5;
  /* max-width: 1920px; */
}
ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
